.layout {
    display: flex;
    min-height: 100vh;
    background-color: var(--system-background-secondary);
}

.mainWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 32px;
}